@page "/Cliente"
@inject NavigationManager navegator
@inject HttpClient http
@using Actividad18.Shared.Modelos

<h3>Clientes</h3>

<button class="btn btn-primary" @onclick=Agregar><span class="oi oi-plus"> Agregar Cliente</span></button>

@if (lista == null)
{
    <h4>Cargando ...</h4>
}
else if (lista.Count == 0)
{
    <h4>No hay Clientes</h4>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Acciones</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var i in lista)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.Nombre</td>
                    <td>@i.Direccion</td>
                    <td>@i.NumTelefono</td>
                    <td><button class="btn btn-primary" @onclick="(()=>Editar(Convert.ToInt32(i.Id)))">Cambiar</button></td>
                    <td><button class="btn btn-primary" @onclick="(()=>Eliminar(i))">Eliminar</button></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Clientes> lista = new List<Clientes>();

    protected override async Task OnInitializedAsync()
    {
        lista = await http.GetFromJsonAsync<List<Clientes>>("api/Clientes");
    }

    public void Agregar()
    {
        navegator.NavigateTo("/Clientes/A");
    }

    private void Editar(int id)
    {
        navegator.NavigateTo($"/Clientes/E/{id}");
    }
    public async Task Eliminar(Clientes cliente)
    {
        await http.DeleteAsync($"api/Clientes/{cliente.Id}");
        lista.Remove(cliente);
    }
}
